<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872933978866-5k64c93mcoq0qe00eq3u189trot7dcdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872933978866-5k64c93mcoq0qe00eq3u189trot7dcdj</string>
	<key>API_KEY</key>
	<string>AIzaSyDVX1FxatZDHk5XUWRcLCbgUYpUi5k3KUY</string>
	<key>GCM_SENDER_ID</key>
	<string>872933978866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homerunapp</string>
	<key>PROJECT_ID</key>
	<string>home-run-28364</string>
	<key>STORAGE_BUCKET</key>
	<string>home-run-28364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872933978866:ios:365fdcdd0fc67226ec566b</string>
</dict>
</plist>