<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786204725778-mdijoig5p7nojls8jnuc2mleruv5vrrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786204725778-mdijoig5p7nojls8jnuc2mleruv5vrrt</string>
	<key>API_KEY</key>
	<string>AIzaSyChLCU4mddqOJSOhZhhEFFuCxfPULBUz-U</string>
	<key>GCM_SENDER_ID</key>
	<string>786204725778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homerunapp</string>
	<key>PROJECT_ID</key>
	<string>homerun-af3c4</string>
	<key>STORAGE_BUCKET</key>
	<string>homerun-af3c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786204725778:ios:0b4a2f30757b178422fecb</string>
</dict>
</plist>